h2 {
  color: white;
}
h1 {
  color: rgb(0, 0, 0);
}
body {
  background-color: rgb(230, 46, 37);
}
h3 {
  color: rgb(0, 0, 0);
}
hr {
  background-color: rgb(60, 0, 0);
}
hr {
  background-color: rgb(0, 0, 0);
  height: 10px;
}
#hi1 {
  background-color: rgb(174, 56, 56);
}
#hello12 {
  background-color: blue;
}

table,
tr,
th,
td {
  border: 5px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
